<table style="max-width:640px;line-height:1.5;">
	<tr>
		<td><span style="font-weight:bold">Hi, Touraedo!</span></td>
	</tr>
	<tr>
		<td style="margin-bottom:5px;display:block;">
			Kami mendeteksi akun Pegipegi Anda (touraedo@gmail.com) masuk menggunakan perangkat baru.
		</td>
	</tr>
	<tr>
		<td><span style="font-weight:bold">Rincian Login</span></td>
	</tr>		
	<tr>
		<td>
			<table style="border:1px solid black;border-collapse:collapse;margin-bottom:15px;">
				<tr>
					<td style="border:1px solid black;">Tanggal dan Waktu</td>
					<td style="border:1px solid black;"> : </td>
					<td style="border:1px solid black;">Fri, 2 Mar 2018 15:34 WIB</td>
				</tr>
				<tr>
					<td style="border:1px solid black;">Lokasi,IP</td>
					<td style="border:1px solid black;"> : </td>
					<td style="border:1px solid black;">Jakarta - Indonesia, 103.78.83.58</td>
				</tr>
				<tr>
					<td style="border:1px solid black;">Tipe Perangkat</td>
					<td style="border:1px solid black;"> : </td>
					<td style="border:1px solid black;">Desktop</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>Anda dapat mengabaikan e-mail ini jika mengetahui detail informasi di atas.</td>
	</tr>
	<tr>
		<td style="margin-bottom:10px;display:block;">
			Namun, apabila Anda tidak mengetahuinya atau merasa akun digunakan oleh orang lain, silakan ganti password Anda <a href="#">di sini</a>. Bila Anda membutuhkan bantuan lebih lanjut, hubungi Customer Service Pegipegi di (021) 3000 7777.
		</td>
	</tr>	
	<tr>
		<td>Salam hangat,<br><br></td>
	</tr>	
	<tr>
		<td>Pegipegi</td>
	</tr>
</table>